body {
	padding:0px;
	margin:0px;
	font-size: 150%;
	color: white;
	background-color: black;
}

#range_volume {
	height: 1.5em;
}

.faux_button {
	border: 1px solid darkblue;
	border-radius: 5px;
	padding: 3px;
	min-width:10px;
	min-height: 1em;
}


.file_button {
	border: 1px solid darkgreen;
	border-radius: 5px;
	padding: 3px;
	min-width:10px;
	min-height: 1em;
}

.faux_button_selected, .faux_button:active{
	background:#83A6D3;
}

.file_button_selected, .file_button:active{
	background:#030;
}

.faux_button_divider {
	background:#002350;
	color:#FFFFFF;
	font-weight:bold;
}

.faux_button_disabled {
	border: 1px solid #bbb;
	color: #000;
	background: #fafafa;
	opacity: 0.6;
}

.horizontal_button_group .vertical_button_group{
	text-align:center;
}

.horizontal_button_group .faux_button {
	margin:2px;
}

.vertical_button_group .faux_button {
	width: 70%;
	margin:2px;
	margin-left: 14%;
	text-align:center;
}

#video_breadcrumbs .faux_button {
	float: left;
}

.header {
	top:0px;
	position:fixed;
	min-height:2em;
	background-color: black;
	color: white;
	width: 100%;
}

.content {
	position:absolute;
	top: 2em;
	bottom: 2em;
	overflow:auto;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

.footer {
	bottom:0px;
	position:fixed;
	height:1.5em;
	background-color: black;
	color: white;
	width: 100%;
	padding-top:0.25em;
	padding-bottom:0.25em;
}

.footer .faux_button {
	top: 0px;
}

.float_right { float:right; }

.clear_both { clear:both; }

.control_block { clear: both; padding-bottom:1.5em;}

.icon_button_group .faux_button {
  background-color: #ccf;
}

#player_buttons .faux_button {
	width:50px;
	height:50px;
	float:left;
	display: inline;
	background-repeat: no-repeat;
	background-position: center;
}

#volume_buttons .faux_button {
	width:50px;
	height:50px;
	float:left;
	display: inline;
	background-repeat: no-repeat;
	background-position: center;
}

#button_play{
	background-image:url("../image/mobile/play.png");
}
#button_stop{
	background-image:url("../image/mobile/stop.png");
}
#button_pause{
	background-image:url("../image/mobile/pause.png");
}
#button_previous{
	background-image:url("../image/mobile/previous.png");
}
#button_reverse{
	background-image:url("../image/mobile/reverse.png");
}
#button_forward{
	background-image:url("../image/mobile/forward.png");
}
#button_next{
	background-image:url("../image/mobile/next.png");
	float:none;
}
#button_volume_up{
	background-image:url("../image/mobile/up.png");
	float:none;
}
#button_volume_down{
	background-image:url("../image/mobile/down.png");
	float:none;
}
#button_volume_up_more{
	background-image:url("../image/mobile/up_more.png");
	float:none;
}
#button_volume_down_more{
	background-image:url("../image/mobile/down_more.png");
	float:none;
}

#button_mute{
	background-image:url("../image/mobile/mute.png");
	float:none;
}
#button_unmute{
	background-image:url("../image/mobile/un-mute.png");
	float:none;
}

/* handle the progress bars */
.progress_frame { 
	height:1em; 
	width:97%; 
	border: 2px solid darkblue;
	border-radius: 5px;
	background-color:#EEE;
	margin-left:1%;
	position: relative;
	color: black;
}

.progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	height:1em;
	background-color:#002350;

	white-space : nowrap;
	color: white;
	overflow: hidden;
}

/* cast statuses */
.status {
	color: #444;
}

.status_true {
	color:white;
}

.pub_date {
	white-space:nowrap;
}

#episodes_list {
	width:100%;
	border-collapse:collapse;
}

#episodes_list td {
	vertical-align: top;
}

#Player .header {
	height: 1em;
}

#Player .content {
	top: 1em;
}
