/* add some styling here */

#log {width:100%;}

#tabs ul { 
  list-style-type: none; 
  margin: 0px;
  margin-left:30px; 
  padding:0px;
}

#tabs li { 
  display: inline; 
  padding:1px 5px;
}

#tabs{
  margin-top:10px;
}

.tab {
  border: 2px solid #ddd;
  border-bottom:1px;
  -moz-border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  font-weight:bold;
  padding: 2px;
  background-color:#eee;
  cursor:pointer;
}

.tab_content {
  padding:3px;
  clear: both;
  display: none;
  border: 2px solid #ddd;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.tab_content .title{
	font-weight:bold;
	font-family:arial;
}
.selected_tab {
  border-bottom: 2px solid white;
  background-color:white;
}

.selected_tab_content {
  display:block;
}

.faux_button {
	border-radius: 5px;
	padding: 3px;
	min-width:10px;
	cursor:pointer;
}

/* player specific stuff */
#player {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
   border: 2px solid #ddd;
  padding: 5px;
}
#player_footer {
  clear:both;
}

#volume_control{
	width:20%;
	height:15px;
	border: 2px solid #0a0;
	float:left;
  margin-right:10px;
}

#volume_background{
	width:100%;
	height:15px;
	background-color:#ddd;
	float:left;
}

#volume_bar{
	width:0px;
	height:15px;
	background-color:#0a0;
	opacity:0.4;	
}

#duration{
	width:99%;
	height:15px;
	border: 2px solid #50b;
	margin-bottom:5px;
}

#duration_background{
	width:100%;
	height:15px;
	background-color:#ddd;
	position: relative;
}

#duration_bar{
	width:0px;
	height:15px;
	background-color:#A684CF;
	position:absolute;
	left:0px;
	top:0px;
	white-space: nowrap;
	color:white;
	overflow:hidden;
}

#button_bar div{
	float:left;
	margin-right:5px;	
}

#button_bar{
	float:left;
	margin-bottom:10px;
}

.button{
	color: black;
	border: 2px solid #ddd;
	cursor:pointer;
	-moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background:no-repeat center;
  height:20px;
}

/* add the images to the backgrounds of the buttons */
#play{
	background-image:url("/image/play.png");
	width:20px;
}

#stop{
	background-image:url("/image/stop.png");
	width:20px;
}

#pause{
	background-image:url("/image/pause.png");
	width:20px;
}

#previous{
	background-image:url("/image/previous.png");
	width:25px;
}

#reverse{
	background-image:url("/image/reverse.png");
	width:25px;
}
#forward{
	background-image:url("/image/forward.png");
	width:25px;
}

#next{
	background-image:url("/image/next.png");
	width:25px;
}

#mute{
	background-image:url("/image/mute.png");
	width:25px;
}

#unmute{
	background-image:url("/image/un-mute.png");
	width:25px;
}

.list_item {
	cursor: pointer;
}

.list_item:hover {
	background-color:#ded;
}

.selected_item , .faux_button_selected {
  color: white;
  background-color: black;
}

.selected_item:hover {
  color: black;
  background-color:#ddd;
}

#file_info {
	
}

/* video styles */
.directory_dir {
	font-weight:bold;
	background-color: #EEE;
}

.directory_view .title {
	font-weight:bold;
}

/* Cast Styles */
.list_container {
  border: 1px solid black;
}

.list_container .title {
	font-weight:bold;
	background-color:#eee;
}

.buttoned_block {
  float: left;
}

#catcher_elements{
  max-height:60%;
  }

#feed_block {
	width:35%;
  margin-right:1%;
}

#episode_block {

}

#feeds_holder {
  max-height:300px;
  overflow:auto;
}

#episode_list_body {
  max-height:300px;
  overflow:auto;
}

#episodes_holder {
  border-collapse:collapse;
  
}

.list_item td  {
  white-space: nowrap;
}

.blocker {
  background-color:black;
  opacity:0.4;
  z-index:1;
  position:fixed;
  top: 0px;
  left:0px;
  right:0px;
  bottom:0px;
  display:none;
  
}

.pop_up {
	background-color:white;
	z-index:5;
	border:2px solid black;
}

.pop_up .title {
	text-align: center;
	padding:10px;
}

#add_feed_div {
  position:absolute;
  top: 135px;
  left:70px;
  
}

#available_episodes_div {
  position:absolute;
  top: 135px;
  left:70px;
}

#download_elements {
	margin-top: 10px;
}

#download_elements .title {
	font-weight: bold;
}

#download_holder {
  width:600px;
}

.download_progress_wrapper {
  border:1px solid black;
  background:#eee;
  height:10px;
  width:100%;
}
.download_progress {
  background:blue;
  height:100%;
}
.download{
  margin-bottom:8px;
}


.align_right {
  text-align:right;
}

.clear{
  clear:both;
}

/* stream assets */
#stream_add_edit {
	display:None;
	position:absolute;
	top: 135px;
  left:70px;
}

.data {
	max-height:500px;
	overflow:auto;

}
