body { background:black; color:white }

button, .faux_button {
	background: black;
	color: white;
	border: 2px solid darkblue;
	padding: 5px;
	margin: 0px;
	border-radius: 5px;
}

button:active {
	background: darkblue;
}

button.file {
	border-color: darkgreen;
}

button[disabled] {
	color: gray;
	background: #404040;
	border-color: #404040;
}

#progress_frame {
	position: relative;
	font-size: 14px;
	margin-bottom: 5px;
	height: 1em;
	border: 2px solid darkblue;
	border-radius: 5px;
	background-color:#EEE;
}

#progress_frame_text {
	position: absolute;
	left:0;
	color: black;
}

#progress_bar {
	position: absolute;
	left: 0px;
	top: 0px;
	height:1em;
	background-color:#002350;
	white-space : nowrap;
	color: white;
	overflow: hidden;
}

#progress_bar_text {
	position: absolute;
	left:0;
	color: white;
	white-space:nowrap;
	z-index: 5;
	font-size: 14px;
}

#player_info {
	width: 100%;
	overflow: hidden;
}

#file_info {
	white-space: nowrap;
	position: relative;
}

#player_controls {
	margin-bottom: 5px;
}

.button_group_vertical button {
	float:left; clear:both; width: 100%;
}

button.selected {
	background-color: #002B03;
	border-color: darkgreen;
}

#media_tabs {
	margin-bottom: 5px;
}

#media_tabs .tab {
	padding: 6px;
	border:1px solid #404040;
}

.media_menu .media_header {
	margin-bottom: 5px;
}

.media_header .label {
	margin-left: 10px;
	font-weight: bold;
}

.media_menu, .media_content {
	display: none;
}

.media_content {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: auto;
}

#media_tabs .selected_media_tab {
	border: 3px solid green;
	padding: 4px;
}

.selected_media_menu, .selected_media_content {
	display: block;
}

#video_breadcrumbs { margin-bottom: 5px; }


/* Casts */
.pub_date { white-space: nowrap; }

.episode .status {
	color: #404040;
	width: 10px;
}

.episode .status_true {
	color: white;
}

